.*/

# CMAKE build files
src/*.[oa]
lunar_viewer

# VisualStudio dependencies
#libs/
!.vscode/

# VisualStudio build files
out/
build/
build-debug/

# custom
# user can decide if they want to use CMakeLists.win10.txt or CMakeLists.linux.txt
*.dll